*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* Colors */
    --yellow-color: #fdbc4d;
    --dark-pink-color: #e54768;
    --header-aqua-color:#83c0c3;
    --text-green-color: #268184;
    --background-grey-color: #f2f2f2;
    --background-pista-color: #f3f8ed;
    --light-pink-color: #eccada;
    --black-color: #000000;
    --white-color: #ffffff;
    --new-light-color: #f5f3f0;
    --text-grey-color: #898989;
    --parrot-box-color: #abd17c;
    --Footer-divider-color: #dfe0df;
    --Footer-input-border-color:#f5f5f5;

    /* Font Family */
    --header-font: "Grandstander", cursive;
    --body-font: "Poppins", sans-serif;
}

.wrapper{
    max-width: 1250px;
    margin: 0 auto;
}

/* Navbar */
header{
    width: 100%;
    background-color: var(--yellow-color);
    position: fixed;
    z-index: 100;
}

nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bar{
    display: none;
    flex-direction: column;
    gap: 5px;
}

#bar p{
    width: 33px;
    height: 5px;
    border-radius: 3px;
}

#bar-p1{
    background-color: var(--dark-pink-color);
}
#bar-p2{
    background-color: var(--white-color);
}

#bar-p3{
    background-color: var(--text-green-color);
}

.logo img{
    width: 140px;
    height: 140px;
    margin-top: 17px;
    cursor: pointer;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    margin: 0 20px;
    text-decoration: none;
    color: var(--white-color);
    font-family: var(--body-font);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
nav ul li a.active{
    color: var(--text-green-color);
    border-bottom: 2px solid var(--text-green-color);
}

nav ul li a:hover{
    color: var(--text-green-color);
    border-bottom: 2px solid var(--text-green-color);
    transition:  0.5s ease;
}

.nav-input{
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-input input{
    width: 230px;
    height: 42px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
}

.nav-input i{
    color: var(--white-color);
    font-size: 22px;
}

.nav-user{
    display: flex;
    align-items: center;
    border-left: 1px solid var(--white-color);
    height: 40px;
}
.nav-user i{
    padding: 25px;
    font-size: 22px;
    color: var(--white-color);
}

/* About Us */
.about-us{
    width: 100%;
    height: 500px;
    background: url('./../04-Images/about-us-bg.jpg') no-repeat;
    background-size: cover;
    background-position: 0px 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-cont{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.about-us-cont .span-text{
    display: flex;
    gap: 50px;
    font-family: var(--body-font);
    font-size: 22px;
    font-weight: 600;
    color: var(--text-green-color);
}

.about-us-cont h2{
    font-size: 84px;
    font-family: var(--header-font);
    color: var(--text-green-color);
}

/* Copied form main page */
/* Get Inspired */
.get-inspired{
    background-color: var(--background-grey-color);
}
.inspired-cont{
    width: 100%;
    height: 700px;
    display: flex;
    padding: 60px 0;
}

.inspired{
    width: 620px;
    height: 520px;
}
.inspired-text{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 25px 50px 25px 16px;

}

.insp-text1{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.inspired-text .insp-text1 span{
    font-size: 20px;
    color: var(--yellow-color);
    font-family: var(--header-font);
}

.inspired-text .insp-text1 h2{
    font-size: 46px;
    line-height: 52px;
    color: var(--text-green-color);
    font-family: var(--body-font);
}

.inspired-text .insp-text1 p{
    color: var(--black-color);
    font-family: var(--body-font);
}

.insp-text2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.insp-txt{
    display: flex;
    gap: 15px;
}

.insp-txt h3{
    color: var(--text-green-color);
    font-family: var(--body-font);
    font-weight: 600;
    font-size: 24px;
}

.insp-txt p{
    color: var(--black-color);
    font-family: var(--body-font);
}

.insp-txt .icon i{
    color: var(--dark-pink-color);
    font-size: 30px;
    margin-top: 3px;
}

.inspired-images{
    display: flex;
    padding-right: 30px;
}

.inspired-images img{
    border: 10px solid white;
    box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
    border-radius: 5px;
}

#insp-img1{
    width: 296px;
    height: 210px;
    transform: translate(25px, 50px) rotate(3deg);
    position: relative;
    z-index: 10;
}
#insp-img2{
    width: 297px;
    height: 223px;
    transform: translate(-17px, 56px) rotate(-2deg);
    position: relative;
    z-index: 9;
}

#insp-img3{
    width: 320px;
    height: 527px;
    transform: rotate(6deg) translate(0, 20px);
}


/* copied form main page */
/* Unique Style */
.unique-style{
    width: 100%;
    height: 600px;
    background: url('./../04-Images/print-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--background-grey-color);
    display: flex;
    padding: 30px;
}

.unique-cont{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.unique-left-img{
    width: 640px;
    height: 424px;
    border: 12px solid white;
    border-radius: 10px;
    background: url('./../04-Images/Long\ jacket.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 35px;
}
.unique-left-img .pink-tape img{
    width: 185px;
    height: 65px;
    transform: translate(105px, -70px) rotate(35deg);
    opacity: 0.8;
}
.unique-left-img .green-box{
    width: 160px;
    height: 140px;
    background-color: var(--parrot-box-color);
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    border-radius: 10px;
    transform: translate(-80px, -110px);
    padding: 10px 1px 20px 20px;
    
}
.unique-left-img .green-box span{
    font-size: 70px;
    font-weight: bold;
    color: var(--white-color);
    font-family: var(--header-font);
}
.unique-left-img .green-box p{
    font-size: 17px;
    color: var(--text-green-color);
    line-height: 20px;
    font-weight: 500;
    font-family: var(--body-font);
    letter-spacing: 0.5px;
    
}
.unique-left-img .left-text{
    color: var(--white-color);
    font-family: var(--body-font);
}
.unique-left-img .left-text h2{
    font-size: 20px;
    font-weight: 500;
}
.left-text .left-text-span{
    display: flex;
    justify-content: flex-end;
    line-height: 35px;
}
.left-text .left-text-span p{
    font-size: 30px;
    font-weight: 600;
}

.unique-right-text{
    width: 640px;
    height: 424px;
    padding: 16px 16px 16px 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.unique-right-text span{
    color: var(--yellow-color);
    font-family: var(--header-font);
    font-size: 24px;
}

.unique-right-text h2{
    font-size: 46px;
    line-height: 50px;
    color: var(--text-green-color);
    font-family: var(--body-font);
}

.unique-right-text p{
    font-family: var(--body-font);
    margin-bottom: 10px;
}
.unique-right-text button{
    width: 180px;
    height: 40px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: var(--dark-pink-color);
    color: var(--white-color);
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
}
.unique-right-text button:hover{
    background-color: var(--yellow-color);
    color: var(--black-color);
}


/* copied from main page */
/* Animated Slider  */
.animated-slider{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),
    url('./../04-Images/Hero-img-03.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ani-slider-cont{
    width: 740px;
    height: 400px;
    /* border: 1px solid red; */
}

.ani-slider-cont .slider-text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    gap: 30px;
    color: var(--white-color);
    font-family: var(--body-font);
    text-align: center;
}

.slider-text h2{
    font-size: 46px;
    line-height: 60px;
}

.slider-text button{
    width: 160px;
    height: 45px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    background-color: var(--dark-pink-color);
    color: var(--white-color);
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 17px;
}
.slider-text button:hover{
    background-color: var(--yellow-color);
    color: var(--black-color);
}


/* copied from main page */
/* Footer */
.footer-cont{
    width: 100%;
    height: 335px;
    display: flex;
    padding-top: 10px;
}

.footer-head{
    display: flex;
}
.footer-cont .Fchild{
    width: 315px;
    height: 285px;
    font-family: var(--body-font);
    padding: 16px;
}

.Fchild h2{
    color: var(--text-green-color);
    padding: 10px 0 17px;
    border-bottom: 1px solid var(--Footer-divider-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.Fchild .Fchild-text ul li{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 20px 0;
    gap: 7px;
}
.Fchild .Fchild-text ul li a{
    text-decoration: none;
    color: var(--black-color);
}
.Fchild .Fchild-text ul li a:hover{
    color: var(--dark-pink-color);
}
.Fconnect-text{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
}

.Fchild-text p{
    font-size: 15px;
}

.Fconnect-text .Finput{
    display: flex;
}
.Fconnect-text .Finput input{
    width: 197px;
    height: 40px;
    border: 1px solid var(--Footer-input-border-color);
    padding: 8px 16px;
    font-family: var(--body-font);
    font-size: 15px;
    border-radius: 5px;
}

.Fconnect-text .Finput button{
    width: 80px;
    height: 40px;
    border: 0;
    outline: 0;
    background-color: var(--dark-pink-color);
    color: var(--white-color);
    border-radius: 5px;
}
.Fconnect-text .Finput button:hover{
    background-color: var(--yellow-color);
    color: var(--black-color);
}

.Fconnect-text #Fhead2 h2{
    border-bottom: 0;
    padding-bottom: 3px;
}

.Fconnect-text .Ficons{
    display: flex;
    gap: 20px;
    width: 20px;
    height: 20px;
}
.Fconnect-text .Ficons i{
    height: 20px;
    width: 20px;
    color: var(--dark-pink-color);
    font-size: 20px;
}

#Ficon3{
    width: 22px;
    margin-right: 3px;
}
#Ficon3{
    width: 17px;
}


/* copied form main page */
/* Footer Copyright */
.footer-copy-cont{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    border-top: 1px solid var(--Footer-divider-color);
    padding: 30px;
    font-family: var(--body-font);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.footer-copy-cont .footer-imgs{
    display: flex;
    gap: 10px;
}

.footer-copy-cont .footer-imgs img{
    width: 46px;
    height: 30px;
}

